* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 5%;
}

.flex-child {
  display: flex;
  align-items: center;
  padding: 1%;
  border: 2px solid;
  border-color: #155eef;
  border-radius: 8px;
}
.one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-color: #155eef;
  margin-bottom: 2%;
}
.link {
  display: flex;
  margin: 2%;
  gap: 5em;
  align-items: center;
}

.link a {
  text-decoration: none;
  font-family: "Halant";
  font-style: normal;
  font-weight: 500;
  font-size: 150%;
  color: #2e3a53;
}

.button1 {
  background-color: white;
  border-color: #155eef;
  color: #155eef;
  border-radius: 10px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 100%;
  line-height: 150%;
  color: #155eef;
  padding: 0.625rem 1rem;
}
.hamburger{
  display: none;
}
@media screen and (max-width:777px) {
  .link{
    display: none;
  }
  
}
.two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-color: #155eef;
  margin-bottom: 2%;
  padding: 2%;
}
.text2 {
  width: 50%;
}
.text2 h4 {
  font-size: 150%;
  font-family: "Halant";
  font-style: normal;
  font-weight: 600;
  color: #2e3a53;
}

.image {
  width: 40%;
}

.text2 p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 150%;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #2e3a53;
}

.image img {
  width: 100%;
}
h2 {
  font-family: "Halant";
  font-style: normal;
  font-weight: 600;
  font-size: 350%;
  line-height: 120%;
  color: #155eef;
}
.button2 {
  background-color: #155eef;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 1% 2%;
  font-size: 100%;
  margin-top: 2%;
  font-family: "manrope";
  font-style: normal;
  font-weight: 700;
}

.three {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
  padding: 2%;
  gap: 3%;
}

.pix {
  border: 1% solid;
  border-color: rgba(21, 94, 239, 1);
  border-style: solid;
  padding: 1% 0% 1% 1%;
  width: 45%;
  border-right: none;
}

.pix img {
  width: 100%;
}
.text1 {
  width: 50%;
}

h1,
h4 {
  font-family: "halant";
}

.four {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}

.social {
  display: flex;
  margin: 2%;
  gap: 30%;
}
h3 {
  font-size: large;
}

.text1 p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  line-height: 150%;
  text-align: justify;
  color: #2e3a53;
}

.text3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 150%;
  line-height: 150%;
  color: #041330;
}
@media screen and (max-width:777px){
  .two {
    display: flex;
    flex-direction: column;
  }
  .button2{
    width: 100%;
  }
  .three{
    display: flex;
    flex-direction: column-reverse;
  }
  .text2, .text1 {
    width: 95%;
  }
  .pix, .image{
    width: 95%;
  }
}

.five {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
  padding: 2%;
  padding-bottom: 7% ;
  position: relative;
  padding-bottom: 10%;
}

.text4 {
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 150%;
  width: 50%;
  background-color: #f9fbff;
}
.text4 h2{
  text-align: center;
}

.text4 p, ul {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #2e3a53;

}

ul {
  
  padding:4% 0% 4% 8% ;
}

.text4 h2 {
  font-family: "Halant";
  font-style: normal;
  font-weight: 600;
  font-size: 250%;
  line-height: 120%;
  color: #041330;
  margin-bottom: 4%;
}

.image1 {
  width: 50%;
  position: absolute;
  top: 23%;
  right: 10%;
  z-index: -1;
}

.image1 img {
  width: 100%;
}
@media screen and (max-width:777px) {
  .five{
    display: flex;
    flex-direction: column;
  }
  .text4{
    width: 100%
  }
  
}
@media screen and (max-width:777px) {
  footer{
    flex-wrap: wrap;
    
  }
  .logo1, .social {
    width: 45%;
  }
  .text3{
    text-align: center;
    width: 100%;
  }
  
}
